
main{
    width: 100%;
}
/* Happy New Year Party Celebration Top banner */

    .sect_happyNewYear{
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        font-family: 'Merriweather', serif;
        width: 1320px;
        height: 600px; 
        border: 0;
        border-radius: 16px;
        background-image: url(images/Banner\ Image.png), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
        background-blend-mode: overlay;
        background-size: cover;
    }

    .happyNewYear_line{
        margin: 0rem auto 2rem auto;
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
    }
    .newYearParty_line{
        text-align: center;
        margin: 0px auto;
        color: #FFF;
        font-size: 72px;
        font-weight: 900;
    }  


/* 65% OFF part */

    .sect_65off{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px auto 100px auto;
        width: 50%;
    }
    .off65_container{
        font-family: 'Inter' ;
    }
    .off65_line{
        margin: 0 auto 5rem auto;
        color: #F00;
        text-align: center;
        font-size: 88px;
        font-weight: 700;
    }
    .off65_OurHoliday_line{
        margin-bottom: 0;
        color: #F00;
        text-align: center;
        font-size: 24px;
        font-weight: 500;

    }
    .off65_Catagories_line{
        margin-top: 1.5rem;
        text-align: center;
        color: #070211;
        font-size: 48px;
        font-weight: 700;
    }
    .off65picture{
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50rem;
    }


/* Welcome to Midnight party Banner */
    .sect_welToMid{
        display: flex;
        flex-direction: row;
        background-image: url(images/Vectorrr.png),linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
        width: 1320px;
        height: 600px; 
        margin: 50px auto;
        
    }

    .welToMid_Container {
        margin-top: 50px;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        
    }
    .welToMid_Pic{
        height: 450px;
        margin: 80px 80px;
    }
    .welToMidTitle{
        color: rgb(252, 252, 252);
        font-family: Merriweather;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px; /* 137.5% */
        letter-spacing: 7.04px;
        margin-bottom: 3rem;
    }
    .welToMidDetails{
        color: rgba(250, 246, 246, 0.8);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        margin: 0 auto 0 auto;
    }
    .welToMidJoin{
        margin: 40px 0 0 0;
        color: #FFF;
        background-color:transparent;
        border:0px solid white;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        width: 9rem;
    }

    .placeHotel{
        display: flex;
        flex-direction: column;
        background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items:center;
        border-radius: 16px;
        width: 1320px;
        height: 482px; 
        margin: 100px auto;    
        /* border: 1px solid black; */
   
    }
    .placeHotelDetails{
        margin: 80px auto 70px auto;
        color: #070211;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px; 
    }
    .placeHotelJoinNow{
        font: 'Inter';
        font-weight: 700;
        font-size: 20px;
        width: 167px;
        height: 56px;
        border-radius: 8px;
        background: #F00;
        color: #FFFFFF;
        border: 0;
    }
    .specTxtplaceHotel{
        color:#F00;
    }



/* Coming soon section */

    .sect_comingSoon {
        display: flex;
        justify-content: space-between; 
        width: 1320px;
        margin: 60px auto; 
        flex-direction: row;
        /* border: 1px solid black; */

    }
    .comingSoonContainer{
        width: 30%;
        margin: auto 0;
    }
    .comingSoonPicture{
        width: 390px;
        height: 390px;
        margin: 15px 15px;
    }
    .image-container {
        position: relative;
        display: inline-block;
        margin: auto auto;
    }

    .red-ring {
        position: absolute;
        top: -10px; 
        left: -10px; 
        width: 420px; 
        height: 420px; 
        border: 10px solid red; 
        border-radius: 50%; 
    }

    .newBestOffer{
        color: #F00;
        text-align: left;
        font-family: 'Inter';
        font-size: 1.8rem;
        font-weight: 500;
    }

    .comingSoonLines{
        margin: 0 0;
        color: #070211;
        font-family: Merriweather;
        font-size:  3.6rem;
        font-weight: 900;
    }
    .comingSoonDetails{
        color: rgba(70, 63, 63, 0.8);
        font-family: 'Inter';
        font-size: 1.36rem;
        font-weight: 400;
    }
    .comingSoon2024{
        width: 30%;
        padding-left: 3rem;
    }
    .comingSoon2024Title{
        color: #F00;
        font-family: 'Inter';
        font-size: 3.6rem;
        font-weight: 700;
        text-transform: capitalize;
    }
    .comingSoon2024Details{
        color: rgba(70, 63, 63, 0.8);
        font-family: 'Inter';
        font-size: 1.36rem;
        font-weight: 400;
    }
    .comingSoon2024Picture{
        width: 10.6rem;
        height: 10.6rem;
    }
